<div class="card card-inverse" style="background-color: #333; border-color: #333; color: white;">
    <div class="card-block">
        <h3 class="card-title">Configurar </h3>
        <hr>
        <p>Encendido</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">On</button>
            <button type="button" class="btn btn-secondary">Off</button>
        </div>
        <p></p>
        <a (click)="onDetail()" class="btn btn-primary">Ver detalles</a>
        <a (click)="onReturn()" class="btn btn-warning">Regresar</a>
    </div>
</div>
