<div class="container-fluid">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todos</button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Temperatura</a>
            <a class="dropdown-item" href="#">Ocupación</a>
            <a class="dropdown-item" href="#">Humedad</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-device-list></app-device-list>
        </div>
        <div class="col-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
