<section class="tables">
    <div class="card card-ticket">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Dispositivos</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Modo</th>
                        <th>Intensidad</th>
                        <th>Número de habitación</th>
                    </tr>
                </thead>
                <tr *ngFor="let device of devices" [routerLink]="device.id" routerLinkActive="bg-info">
                    <td scope="row">{{device.idDispositivo}}</td>
                    <td>{{device.nombreDispositivo}}</td>
                    <td>{{device.estado}}</td>
                    <td>{{device.modo}}</td>
                    <td>{{device.intensidad}}</td>
                    <td>{{device.idForaneoHabitacion}}</td>
                </tr>
            </table>
        </div>
    </div>
</section>