<div class="create-device">
    <div class="row">
        <div class="col-12">
            <div class="card card-device">
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Editar</h3>
                    <!-- Dropdown button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" (click)="onViewDevice()">Ver</a>
                            <!--<a class="dropdown-item" (click)="onAddComment()">Comentar</a>
                            <a class="dropdown-item">Marcar</a>-->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="onDeleteDevice()">Eliminar</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-sm">Numero de dispositivo</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control form-control-sm" placeholder="Número" formControlName="id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-sm">Nombre Dispositivo</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" placeholder="Nombre" formControlName="nombre">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-sm">¿Estado encencido?</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="form-control form-control-sm" id="estado" formControlName="estado">
                                <!--<textarea class="form-control form-control-sm" rows="3" id="estado" formControlName="estado"></textarea>-->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-sm">Modo</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-sm" id="sel1" formControlName="modo">
                                    <option>Caliente</option>
                                    <option>Frío</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-sm">Intensidad</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control form-control-sm" placeholder="De 0 a 10" formControlName="intensidad">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-sm">Número de habitación</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control form-control-sm" placeholder="Número habitación" formControlName="idhabitacion">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!deviceForm.valid">Crear dispositivo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>