<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!deviceForm.valid">Guardar</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="type">Tipo</label>
            <input type="text" id="type" formControlName="type" class="form-control">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>