<div class="card card-inverse" style="background-color: #333; border-color: #333; color: white;">
    <div class="card-block">
        <h3 class="card-title">{{device.nombreDispositivo}}</h3>
        <hr>
        <p class="card-text">Tipo: {{device.tipoDispositivo}}</p>
        <p class="card-text">Medida: {{device.idDispositivo}}</p>
        <p class="card-text">Fecha: 21/nov/2017</p>
        <p class="card-text">Hora: 12:00</p>
        <a (click)="onConfig()" class="btn btn-primary">Configurar</a>
        <a (click)="onDelete()" class="btn btn-danger">Borrar</a>
    </div>
</div>
